@page
@model YourNamespace.Pages.HomepageModel
@{
    ViewData["Title"] = "Anasayfa";
}
<head>
    <link rel="stylesheet" href="/css/tasarım.css" /> <!-- Dosya yolunuza göre düzenleyin -->
</head>
<div class="logo">
    <img src="/css/2BIa1d6erWSaC8YES4gEKw-removebg.png" alt="Another Image" />
</div>
<div class="container">  
    <div class="center-text">
        <h1>Merhaba, Hoş Geldiniz!</h1>
    </div>
    <div class="add-animal">
        <button type="button">Hayvan Ekle+</button>
    </div>
    <div class="right-section">
        <img src="another-image.jpg" alt="Another Image" />
    </div>
    <div class="top-buttons">
        <button type="button">Button 1</button>
        <button type="button">Button 2</button>
        <button type="button">Button 3</button>
        <button type="button">Button 4</button>
        <button type="button">Button 5</button>
    </div>
</div>
