@page
<h1>Kullanıcı Girişi</h1>
<head>
    <link rel="stylesheet" href="/css/site.css" /> <!-- Dosya yolunuza göre düzenleyin -->
</head>

<form method="post">
    <label>Email:</label>
    <input type="email" name="email" /><br />
    <label>Şifre:</label>
    <input type="password" name="password" /><br />
    <a href="Homepage" class="login-button">Giriş Yap</a>
</form>
<div class="button-container">
    <a href="Register" class="register-button">Kayıt Ol</a>
</div>
