@page
<h1>Kullanıcı Kaydı</h1>
<head>
    <link rel="stylesheet" href="/css/site.css" /> <!-- Dosya yolunuza göre düzenleyin -->
</head>
<form method="post">
    <label>Email:</label>
    <input type="email" name="email" /><br />
    <label>Şifre:</label>
    <input type="password" name="password" /><br />
    <label>İsim:</label>
    <input type="text" name="fullname" /><br />
    <br /> 
    <a href="Login" class="register-button">Kayıt Ol</a>
</form>
<div class="button-container">
    <a href="Login" class="login-button">Giriş Yap</a>
</div>

